!!!
%html{ :'lang' => 'es', :'ng-app' => 'app'}
  %head

    %meta{ :charset => 'utf-8' }
    %meta{ :'http-equiv' => 'X-UA-Compatible',  :'content' => 'IE=edge' }
    %meta{ :'name' => 'viewport', :'content' => 'width = device-width, initial-scale = 1, maximum-scale = 1' }
    
    %meta{ :'property' => 'og:url', :'content' => 'http://site.com' }
    %meta{ :'property' => 'og:title', :'content' => 'title' }
    %meta{ :'property' => 'og:image', :'content' => 'http://site.com/img/fb.png' }
    %meta{ :'property' => 'og:description', :'content' => 'desc' }
    %meta{ :'name' => 'Site name' }
    %meta{ :'name' => 'keywords', :'content' => 'keywords' }

    %title 
      = current_page.data.title || 'Title'
    = stylesheet_link_tag 'all'

  %body
    = yield
    = javascript_include_tag 'all'