.container{ :'ng-controller' => 'fireCtrl' }
	.row
		.col-sm-8.col-lg-6.black-op	
			.title
				%img.img-responsive{ :'src' => 'img/title.png' }
			.info.text-center
				%p
					Ingresa el código bajo la tapa en 
					%a{ :'href' => 'http://www.mrbigenergy.com', :'target' => '_blank' }
						www.mrbigenergy.com
					y participa por un espectacular viaje 
					%strong
						para 2 personas al destino X-MEN que tú elijas
					, además de cientos de entradas al cine y productos exclusivos de la película. 
				%p.legal
					Promoción válida desde el 1 de abril hasta el 15 de junio de 2016.
				-# %a{ :'ng-click' => 'openMap()' }
				-# 	Mapa de ejemplo
			%script#modalTemplate{ :'type' => 'text/ng-template' }
				= partial 'modal'
			%script#modalMapTemplate{ :'type' => 'text/ng-template' }
				= partial 'map'
			#form
				%form.form-group{ :'name' => 'userForm', :'ng-submit' => 'submitForm()', :'novalidate' => 'novalidate' }
					.col-sm-12.pad-5
						.form-group{ :'ng-class' => '{ "has-error" : userForm.name.$invalid && !userForm.name.$pristine }' }
							%label
								Nombre Completo
							%input.form-control{ :'name' => 'name', :'ng-model' => 'name', :'type' => 'text', :'placeholder' => 'Ingresa tu nombre completo', :'required' => 'required' }
							%p.help-block{ :'ng-show' => 'userForm.name.$invalid && !userForm.name.$pristine' }
								Necesitas ingresar tu nombre para participar
					.col-sm-12.pad-5
						.form-group{ :'ng-class' => '{ "has-error" : userForm.email.$invalid && !userForm.email.$pristine }' }
							%label
								Email
							%input.form-control{ :'name' => 'email', :'ng-model' => 'email', :'type' => 'email', :'placeholder' => 'email', :'required' => 'required'  }
							%p.help-block{ :'ng-show' => 'userForm.email.$invalid && !userForm.email.$pristine' }
								Ingresa un email válido
					.col-sm-8.pad-5
						.col-sm-2.col-xs-3.nopad
							%label
								Fono
							%span.num +56
						.col-sm-2.col-xs-3.nopad
							.form-group{ :'ng-class' => '{ "has-error" : userForm.prefijo.$invalid && !userForm.prefijo.$pristine }' }
								%label.inv
									Fono
								%input.form-control{ :'name' => 'prefijo', :'ng-model' => 'prefijo', :'type' => 'number', :'placeholder' => 'ej: 9', :'required' => 'required', :'min' => '1'  }
								
						.col-sm-8.col-xs-6.nopad
							.form-group.mar-6{ :'ng-class' => '{ "has-error" : userForm.movil.$invalid && !userForm.movil.$pristine }' }
								%label
									%span.inv Fono
								%input.form-control{ :'name' => 'movil', :'ng-model' => 'movil', :'type' => 'number', :'placeholder' => 'ej: 12345678', :'required' => 'required', :'min' => '1'  }
						.col-sm-12.nopad
							%small.note *Ingresa tu prefiijo de celular o código de área
					.col-sm-4.pad-5
						.col-sm-12.nopad
							.form-group
								%label
									Código tapa
								%input.form-control.code{ :'ng-model' => 'code', :'type' => 'text', :'placeholder' => 'Ingresa código', :'required' => 'required'  }
						.col-sm-12.nopad
							%small.note *Conserva tu tapa ganadora
					.col-sm-12.pad-5
						.group{ :'ng-class' => '{ "has-error" : userForm.adult.$invalid && !userForm.adult.$pristine }' }
							%label
								%input{ :'name' => 'adult', :'ng-model' => 'adult', :'type' => 'checkbox', :'required' => 'required'  }
								Soy mayor de 15 años
							%p.help-block{ :'ng-show' => 'userForm.adult.$invalid && !userForm.adult.$pristine' }
								Debes ser mayor de 15 años para participar.
					%hr
					.col-lg-6.pad-5
						.bases
							Consulta las bases del concurso
							%a{ :'href' => 'pdf/bases-legales.pdf', :'target' => '_blank' }
								AQUÍ
					.col-lg-6.pad-5
						%button.pull-right{ :'type' => 'submit', :'ng-disabled' => 'userForm.$invalid' }
							.send{ :'ng-class' => '{ "active" : !userForm.$invalid }' }
								enviar código
		.xmen
			.logo
			.fox

