.modal-content
	.modal-header
		%button.close{ :'aria-hidden' => 'true', 'ng-click' => 'closeModal()', :type => 'button' }
			%i.fa.fa-close
		%h4.modal-title
			Mapa
	.modal-body
		%ng-map.map{ :'zoom' => '3', :'center' => '[-31.9741138,-71.4893109]', :'scrollwheel' => 'false', :'map-type-control' => 'false', :'styles' => '[{"featureType":"all","elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#000000"},{"lightness":40}]},{"featureType":"all","elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#000000"},{"lightness":16}]},{"featureType":"all","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":17},{"weight":1.2}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":21}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":16}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":19}]},{"featureType":"water","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":17}]}]' }
			%marker{ :'position' => '-31.9741138,-71.4893109', :'icon' => '{ url:"img/marker.png" }' }
			%marker{ :'position' => '-28.9741138,-54.4893109', :'icon' => '{ url:"img/marker.png" }' }
			%marker{ :'position' => '-15.9741138,-14.4893109', :'icon' => '{ url:"img/marker.png" }' }
	.modal-footer
		%button{ :'aria-hidden' => 'true', 'ng-click' => 'closeModal()', :type => 'button' }
			Cerrar
