.modal-content
	.modal-header
		%button.close{ :'aria-hidden' => 'true', 'ng-click' => 'closeModal()', :type => 'button' }
			%i.fa.fa-close
		%h4.modal-title
			Mapa
	.modal-body
		%ng-map.map{ :'zoom' => '3', :'center' => '[-31.9741138,-71.4893109]', :'scrollwheel' => 'false', :'map-type-control' => 'false', :'styles' => '[{"featureType":"all","elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#000000"},{"lightness":40}]},{"featureType":"all","elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#000000"},{"lightness":16}]},{"featureType":"all","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":17},{"weight":1.2}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":21}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":16}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":19}]},{"featureType":"water","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":17}]}]' }
			%marker{ :'position' => '45.521309, -73.582478', :'icon' => '{ url:"img/marker.png" }', :'on-click' => 'map.showInfoWindow(event, "montreal")' }

			%marker{ :'position' => '40.728210, -74.002763', :'icon' => '{ url:"img/marker.png" }', :'on-click' => 'map.showInfoWindow(event, "newyork")' }

			%marker{ :'position' => '36.155335, -115.152182', :'icon' => '{ url:"img/marker.png" }', :'on-click' => 'map.showInfoWindow(event, "vegas")' }

			%marker{ :'position' => '36.155335, -115.152182', :'icon' => '{ url:"img/marker.png" }', :'on-click' => 'map.showInfoWindow(event, "vegas")' }

			%info-window#montreal
				.infowin{ :'ng-non-bindable' => 'ng-non-bindable' }
					.bodyContent
						.col-sm-6
							%img.img-responsive{ :'src' => 'img/locations/montreal.jpg' }
						.col-sm-6
							%h3
								Montreal
							%p
								Absorbe las extraordinarias habilidades de los mutantes en un exclusiva Masterclass con especialistas X-Men y conoce esta gran ciudad. 
			%info-window#newyork
				.infowin{ :'ng-non-bindable' => 'ng-non-bindable' }
					.bodyContent
						.col-sm-6
							%img.img-responsive{ :'src' => 'img/locations/newyork.jpg' }
						.col-sm-6
							%h3
								Nueva York
							%p
								Conoce al equipo de efectos especiales de la película quienes además te enseñaran sus técnicas en una mutante Masterclass.

			%info-window#vegas
				.infowin{ :'ng-non-bindable' => 'ng-non-bindable' }
					.bodyContent
						.col-sm-6
							%img.img-responsive{ :'src' => 'img/locations/vegas.jpg' }
						.col-sm-6
							%h3
								Las Vegas
							%p
								Explora los sitios de la destrucción del Apocalipsis en una aventura épica por el desierto y luces de esta gran ciudad.
			


	.modal-footer
		%button{ :'aria-hidden' => 'true', 'ng-click' => 'closeModal()', :type => 'button' }
			Cerrar
