.modal-content
	.modal-header
		%button.close{ :'aria-hidden' => 'true', 'ng-click' => 'closeModal()', :type => 'button' }
			%i.fa.fa-close
		%h4.modal-title
			Mapa
	.modal-body
		%ng-map.map{ :'zoom' => '2', :'center' => '[34.8619314,-40.5036497]', :'scrollwheel' => 'false', :'zoom-control' => 'true', :'map-type-control' => 'false', :'zoom-control-options' => '{style:"LARGE", position:"RIGHT_CENTER"}', :'scale-control' => 'false', :'street-view-control' => 'false', :'styles' => '[{"featureType":"all","elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#000000"},{"lightness":40}]},{"featureType":"all","elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#000000"},{"lightness":16}]},{"featureType":"all","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":17},{"weight":1.2}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":21}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":16}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":19}]},{"featureType":"water","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":17}]}]' }

			%marker{ :'id' => '{{mark.id}}', :'position' => '{{mark.position}}', :'icon' => '{ url:"img/marker.png" }', :'ng-repeat' => 'mark in vm.marks', :'on-click' => 'vm.showDetail(mark)' }
			%info-window{ :'id' => 'foo-iw' }
				%div{:'ng-non-bindable'=>'', :'ng-bind-html' => 'vm.mark.body | html'}

	.modal-footer
		%button{ :'aria-hidden' => 'true', 'ng-click' => 'closeModal()', :type => 'button' }
			Cerrar
